body {
    background-color: #b778dba8;
    font-family: sans-serif;
    text-align: center;
    margin-top: 2rem;
    background-attachment: fixed;
    background-repeat: no-repeat;

  }
  
  h1 {
    font-size: 2em;
    margin-top: 0;
  }
  
  navmenu {
    background-color: #ccc;
    padding: 10px;
  }
  
  .navmenu a:hover{
    color: rgb(34, 11, 165);
    zoom: 2rem;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid blanchedalmond;
    
  }
  a {
    color: #000;
    text-decoration: none;
    padding:1rem ;
    /* justify-content: space-between; */
  }
  
  main {
    padding: 20px;
  }
  
  footer p{
    bottom: 0%;
    background-color: black;
    color: rgba(255, 255, 255, 0.616);
    height: 5rem;
    font-size: small;
  }
  .search{
    display: flex;
    align-items: center;
    /* justify-items: center;*/
    justify-content: center;
    /* background: black ; */
    margin-top: 3rem;
 
  }
  .search input{
    height: 4rem;
    width: 21rem;
    border-radius: 2rem;
    border: none;
  }
  .search img{
    padding: 2px;
    cursor: pointer;
  }
  table{
    margin-top: 2rem;

  }
  table tr td{
    padding: 1rem;
  }
  .box1 img{
    height: 20rem;
    width: 15rem;
   
  }
  .box2 img{
    height: 20rem;
    width: 15rem;
    
  }
  .box3 img{
    height: 20rem;
    width: 15rem;
    
  }
  .box4 img{
    height: 20rem;
    width: 15rem;
  
  }
  .box5 img{
    height: 20rem;
    width: 15rem;
    
  }
  .box6 img{
    height: 20rem;
    width: 15rem;
    
  }

  